:root {
  /* Colors */
  --color-pink: #EB3E6C;
  --color-white: #ffffff;
  --color-light-grey: #f5f5f5;

  /* Border Width */
  --border-width-thick: 4px;
  --border-width-medium: 2.5px;
  --border-width-thin: 1px;

  /* Border Radius */
  --border-radius: 10px;
}

* {
  /*임시 font 설정 */
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  height: 34px;
  padding: 10px;
  border: none;
  outline: none;
  box-shadow: none;  
}

select {
  height: fit-content;
  padding: 10px;
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  padding: 10px;
}

input:focus, textarea:focus, select:focus{
  border: var(--border-width-medium) solid var(--color-pink)
}