:root {
  /* Colors */
  --color-pink: #eb3e6c;
  --color-white: #ffffff;
  --color-light-grey: #f5f5f5;

  /* Border Width */
  --border-width-thick: 4px;
  --border-width-medium: 2.5px;
  --border-width-thin: 1px;

  /* Border Radius */
  --border-radius: 10px;
}

* {
  font-family: "Courier New", Courier, monospace;

  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  height: 34px;
  padding: 10px;
  border: none;
  outline: none;
  box-shadow: none;
}

select {
  height: fit-content;
  padding: 10px;
  outline: none;
  border: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  padding: 10px;
}

input,
textarea,
select {
  border: var(--border-width-medium) solid transparent;
}
input:focus,
textarea:focus,
select:focus {
  border: var(--border-width-medium) solid var(--color-pink);
}
