@import '../../../App.module.css';

.activeItemContainer {
  padding: 1%;
}

.inActiveItemContainer {
  padding: 1%;
}

.divider {
  width: 40%;
  height: 2px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: var(--color-pink);
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.btnContainer > button {
  color: white;
  background-color: var(--color-pink);
  min-width: 60px;
  padding: 2px;
  border-radius: 4px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.activeItemList, .inActiveItemList {
  position:relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; 
  width: 100%;
  padding: 10px;
}

.activeItem, .inActiveItem {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  text-align: center;
  border-radius: var(--border-radius);
}

.activeImg, .inActiveImg {
  width: 100%;
  height: 60%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.productCodeContainer, .productTitleContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  
}

.label {
  font-weight: bold;
}
.pageBtnContainer {
  width: 60%;
  margin: auto;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.pageBtn {
  width: 30px;
  height: 30px;
  background-color: var(--color-pink);
  color: var(--color-white);
  border-radius: 2px;
}