@import '../../App.module.css';

.exitBtn {
  color: var(--color-white);
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
}

.saveBtn {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  background-color: var(--color-pink);
  border-radius: 10px;
  color: var(--color-white);
}


.modal {
  width: 800px;
  height: fit-content;
  min-height: 600px;
  background-color: var(--color-light-grey);
  border-radius: var(--border-radius);

  z-index: 999;

  position: absolute;
  top: 190%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  backdrop-filter: blur(5px);
  opacity: 1;
}

.header {
  width: 100%;
  height: 50px;
  background-color: var(--color-pink);
  color: var(--color-white);

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.body {
  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.container.img{
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
}

.input.content {
  border-radius: var(--border-radius);
  height: 160px;
}

.input.timeCost{
  width: 20%;
}
.currentImg{
  width: 200px;
  height: 200px;
}

.addBtn {
  width: 60px;
  height: 50px;
  background-color: var(--color-pink);
  border-radius: 10px;
  color: var(--color-white);
}

