.login_body {
  flex-direction: column;
  align-items: center;
  max-width: 530px;
  border: solid 3px lightgray;
  border-radius: 6px;
  margin: 30px auto;
  padding: 36px;
}

.amuse_logo {
  width: 300px;
  height: 80px;
}

.amuse_login_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amuse_title_bottom {
  color: #eb1749;
  margin: 10px 0;
}

.login_btn {
  background-color: #e9ecf2;
  width: 95px;
  height: 28px;
  border-radius: 4px;
  border: none;
}

.amuse_title_top {
  margin: 40px 0 0 0;
}

.signup_link,
.password_reset_link {
  color: #eb1749;
  margin-left: 15px;
}

.email_input,
.password_input,
.user_name_input {
  width: 380px;
  height: 42px;
  border-style: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
  margin: 8px 0;
}

.email_input {
  width: 100%;
}

.input {
  padding: 6px 20px;
}

.signup_box,
.password_reset_box {
  display: flex;
  justify-content: baseline;
  margin: 3px 0;
}

.login_function_box {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 25px 0 0 0;
}

.v_box {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  padding: 15px;
  align-items: baseline;
  margin: auto;
}

.OAuth {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.login_google {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  /* 기존 스타일 유지 */
  background-color: #fff;
  color: black;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
}

.login_kakao {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */

  background-color: #ffe812;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: black;
}

.login_naver {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */

  background-color: #3eaf0e;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: white;
}

.login_google,
.login_kakao,
.login_naver {
  border-radius: 4px;
  height: 36px;
  border: none;
  padding: 4px;
  margin: 4px 0;

  text-decoration: none;
  font-weight: 550;
}

.naver_logo,
.kakao_logo {
  width: 30px;
  height: 30px;
  margin-right: 36px;
}
