li {
  list-style: none;
}

.container.activeItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: scroll;
  height: 83vh;
}
.activeItem {
  width: 300px;
  height: 100px;
  border: 1px solid black;
}