.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
}

.container.mainImg{
  display: flex;
  min-height: 300px;
}

.title {
  padding-right: 10px;
  white-space: nowrap;
}

 .mainImgInput {
  padding: 0;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
}

.mainImgList {
  display: flex;
  overflow: auto;
}

.renderedImg {
  position: relative;
  width: fit-content;
}

.img {
  width: 200px;
  height: 200px;
}

.removeBtn {
  position: absolute;
  right: 0;
  font-size: 20px;
  color: red;
  background-color: transparent;
}