@import '../../../App.module.css';

.productForm {
  border: 2px solid #C5C5C5;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.container.ticket {
  background-color: lightgreen;
  height: fit-content;
  min-height: 400px;
  max-height: 635px;
}

.container.name{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: skyblue;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container.location{
  background-color: lightsalmon;
}

.container.mainImg{
  background-color: lightgoldenrodyellow;
  display: flex;
  min-height: 300px;
}

.container.content {
  background-color: lightcoral;
  height: fit-content;
  min-height: 400px;
}

.container.course {
  background-color: lightsteelblue;
}

.container.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightpink;
}

.container.idAndCategory{
    background-color: yellow;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
 padding-right: 10px;
 white-space: nowrap;
}

.nameInput {
  width: 100%;
}

.country{
  margin-bottom: 10px;
}

.mainImgInput {
  padding: 0;
  text-decoration: none;
}

.mainImgList {
  width: 200px;
  height: 200px;
}

.courseImg{
  width: 140px;
  height: 140px;
}

.addBtn {
  width: 100px;
  height: 30px;
  background-color: var(--color-pink);
  border-radius: 10px;
  color: var(--color-white);
}

.submitBtn {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  background-color: var(--color-pink);
  color: var(--color-white);
}

.status {
  width: 100%;
  height: fit-content;
  min-height: 300px;
  border: var(--border-width-thin) solid var(--color-amuse);
  border-radius: 10px;
  background-color: greenyellow;
  margin-top: 3%;
  overflow-y: scroll;
}

.status.ticket{
  display: flex;
  flex-direction: column;
}


.ticketBox {
  background-color: var(--color-light-grey);
  border-radius: var(--border-radius);
  width: 94%;
  height: fit-content;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.courseBox{
  display: flex;
  justify-content: space-between;
  width:80%;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #C5C5C5;
}