@import '../../../App.module.css';

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
}

.container.ticket {
  background-color: lightgreen;
  height: fit-content;
  min-height: 400px;
  max-height: 635px;
}

.container.name{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: skyblue;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container.location{
  background-color: lightgray;
}

.container.content {
  background-color: lightcoral;
  height: fit-content;
  min-height: 400px;
}

.title {
 margin-left: 10%;  
 padding-right: 10px;
 white-space: nowrap;
}

.nameInput {
}

.addBtn {
  width: 100px;
  height: 30px;
  background-color: var(--color-pink);
  border-radius: 10px;
  color: var(--color-white);
}

.status {
  width: 80%;
  height: fit-content;
  min-height: 300px;
  border: var(--border-width-thin) solid var(--color-amuse);
  border-radius: 10px;
  background-color: greenyellow;
  margin-top: 3%;
  margin-left: 10%;
  overflow-y: scroll;
}

.status.ticket{
  display: flex;
  flex-direction: column;
}


.ticketBox {
  background-color: var(--color-light-grey);
  border-radius: var(--border-radius);
  width: 94%;
  height: fit-content;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}