@import '../../App.module.css';

.logoAndLogin{
  height: 70px;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}

.category {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border-width-thin) solid var(--color-light-grey);
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}