@import '../../../App.module.css';


select {
  border-radius: var(--border-radius);
}

input {
  border-radius: var(--border-radius);
}

.container {
  background-color: yellow;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.category {
  margin-left: 10%;
  display: flex;
  align-items: center;
}

.code {
  margin-right: 10%;
  display: flex;
  align-items: center;
}

.title { 
  padding-right: 10px;
}